---


import ProductQuestionCard from "../../components/Cards/ProductQuestionCard.astro"
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Metal Roofing Rochester " description="Explore the durability and style of metal roofing with Summit Exteriors Roofing in Rochester, offering a wide selection of energy-efficient and low-maintenance metal roofing options. Our experts specialize in providing long-lasting, weather-resistant metal roofs that combine functionality with aesthetic appeal. Choose Summit Exteriors for your metal roofing needs and invest in a sustainable, high-quality solution for your home or business." heading="Explore the durability and style of metal roofing with Summit Exteriors Roofing in Rochester, offering a wide selection of energy-efficient and low-maintenance metal roofing options. Our experts specialize in providing long-lasting, weather-resistant metal roofs that combine functionality with aesthetic appeal. Choose Summit Exteriors for your metal roofing needs and invest in a sustainable, high-quality solution for your home or business." >
 <div class="w-full">

<div>
    <div class="mt-12 relative h-[600px]">
        <img src="/roofs/metal.webp" class="w-full h-full object-cover" alt="Summit Exteriors Team Photo Rochester Roofing">
        <div class="bg-gradient-to-r from-blue-700/40 to-blue-700/10 absolute left-0 z-20 w-full h-full top-0 flex">
            <div class="my-auto ml-12">
                <h1 class="  font-[1000] text-6xl text-white">Metal Roofs
                </h1>
                <p class="max-w-[500px] font-semibold text-white">Protect your home with a durable and stylish metal roof. Lower maintenance, energy-efficient, and sure to elevate your curb appeal.
                </p>
            </div>
         </div>
    </div>
</div>

<div class="w-[80%] max-w-7xl mx-auto gap-8 flex flex-col mt-24">
         <h2 class="font-[1000] md:text-6xl text-3xl">WHY METAL?</h2>
       <hr>
     
    <div class="flex flex-col gap-4">
        <ProductQuestionCard title="Durability" details="A metal roof can last for decades if maintained properly and can withstand harsh conditions such as strong winds and heat." image_href="/roofs/metal.webp" number={1} is_last={false}/>

        <ProductQuestionCard title="Energy Efficient" details="Metal reflects heat and UV-rays, keeping your home's temperature significantly lower in warmer months. This means up to 40% annual savings on your energy bill." image_href="/roofs/metal.webp" number={2} is_last={false}/>
    
        <ProductQuestionCard title="Environmentally Friendly" details="Metal roofing is often made from recycled materials and can be entirely recycled at the end of its lifespan, unlike asphalt shingles." image_href="/roofs/metal.webp" number={3} is_last={false}/>
        <ProductQuestionCard title="Return on Investment" details="A metal roof can last for decades if maintained properly and can withstand harsh conditions such as strong winds and heat." image_href="/roofs/metal.webp" number={4} is_last={true}/>
    </div>
  </div>

   
 
</div>
</div>

</Layout>