---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import RoofingTypeCard from "../../components/Cards/RoofingTypeCard.astro";
 
import pinkpanther from "../../images/pinkpanther.webp";
---

<Layout title="Summit Exteriors Roofing Options Rochester NY" description="For Rochester ee offer every type of roof available " heading="Rochester, Dream a Roof and We can Build it at the Best Price">
  <section class="mt-24 ">
    <div class="mx-auto max-w-screen-xl md:h-[50vh]  lg:flex lg:items-center">
      <div class="mx-auto max-w-4xl text-center">
        <h1 class="text-5xl font-extrabold sm:text-7xl">
          Get a Roof Replacement

          <strong class="font-extrabold text-red-700 sm:block"> in Rochester, NY </strong>
        </h1>

        <p class="mt-4 sm:text-xl/relaxed max-w-xl text-center mx-auto">
          Getting a Roof Replacment or New Roof in Rochester is easy with Summit Exteriors. We offer a wide variety of
          roofing options to choose from, so you can find the perfect one for your home.
        </p>

        <div class="mt-8 flex flex-wrap justify-center gap-4 mx-8">
          <a class="block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
            href="#">
            Book Now
          </a>

          <a class="block w-full rounded px-12 py-3 text-sm font-medium text-red-600 shadow hover:text-red-700 focus:outline-none focus:ring active:text-red-500 sm:w-auto"
            href="/services/roofing#system">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class=" w-[95%] mx-auto mt-8">
      <div class="flex md:flex-row flex-col justify-evenly gap-4">
        <RoofingTypeCard title="SHINGLE" image_href="/roofs/shingle.png" href="/services/shingle-roofing-rochester"/>
        <RoofingTypeCard title="METAL" image_href="/roofs/metal.webp" href="/services/metal-roofing-rochester"/>
        <RoofingTypeCard title="REPLACMENT" image_href="/roofs/cedar.webp" href="/services/commercial-roofing-rochester"/>
        <RoofingTypeCard title="COMMERCIAL" image_href="/roofs/commercial.webp" href="/services/roof-replacement-rochester"/>
      </div>
  </section>


  <section class="mt-24 max-w-[95%] mx-auto">

    
    <div class="flex flex-col md:flex-row md:min-h-[50vh] ">
      <div class="w-1/2">
        <Image src={pinkpanther} alt="Pink Panther" class:list={"w-96 mx-auto"} />
      </div>
      <div class="mt-6 w-1/2">
        <h2 class="text-6xl font-bold">Owens Corning</h2>
        <p class="w-2/3 mt-4">
          Summit Roofing Company is an <a href="https://www.owenscorning.com/en-us">Owens Corning</a> prefered
          contractor. That means we are part of an exclusive network of
          roofing professionals who meet high standards and strict requirements for
          professionalism and reliability. We are proud to offer Owens Corning products
          to our customers through this relationship.
        </p>
      </div>
    </div>

    <div class="flex bg-gray-100 h-[70vh] rounded-md">
      <div class="w-1/2 m-auto p-8 flex flex-col gap-2">
        <h2 class="font-bold text-6xl">
          Get a Roof Replacement in Rochester, NY
        </h2>
        <h3 class="text-2xl">Summit Roofing Company Roof Repair Services</h3>
        <p>
          A new roof can add value to your home and keep you and your family
          safe from the elements. We offer a wide variety of roofing options to
          choose from, so you can find the perfect one for your home. We want to
          make sure that your next roofing project is as easy and stress-free as
          possible. We’ll work with you every step of the way to ensure that you
          are happy with the final product. Give us a call today to get started
          on your new roof!
        </p>
        <button class="w-[200px] h-[48px] bg-red-600 rounded-md text-white mt-2" onclick="window.location.href='/booking'">Book
          Now</button>
      </div>
      <div class="w-1/2 m-auto">
        <img class="w-2/3 m-auto" src="https://bakerroofing.com/wp-content/uploads/2022/09/repairing_a_homes_roof.jpeg"
          alt="" />
      </div>
    </div>


  </section>
</Layout>