---
import FaqCard from "./FaqCard.astro"

---


<div class="w-full mb-24 ">
<div class="space-y-4 w-[95%] mx-auto max-w-7xl">
    <h2 class=" font text-5xl font-black mb-12">Why Patriot Discount Oil</h2>
    <FaqCard question="Family Owned Buissnes" answer="Summit Exteriors, based in the heart of Rochester, is not just a roofing company; it's a testament to a family's lifelong dedication to their community. As a family-owned and operated business, the essence of Rochester runs deep in our veins. Our founders and team have not only lived in Rochester their entire lives but have also woven their personal and professional lives into the very fabric of this community. This city is more than just a place we work; it's the community we love, support, and strive to enhance with every roof we repair or replace. Our commitment to excellence is not just about providing top-notch roofing services; it's about upholding the trust and the bonds we've formed with our fellow Rochester residents over the years. At Summit Exteriors, you're not just hiring a contractor; you're partnering with neighbors who genuinely care about the safety, beauty, and integrity of your home as much as you do." />
   
   
   
    
    
  </div>
  </div>