---
import FaqCard from "./FaqCard.astro"

---


<div class="w-full mb-24 ">
<div class="space-y-4 w-[95%] mx-auto max-w-7xl">
    <h2 class=" font text-5xl font-black mb-12">Why Patriot Discount Oil</h2>
    <FaqCard question="Family Owned Buissnes" answer="At Patriot Discount Oil, family values are at the core of everything we do. As a family-owned and operated company, we treat every customer like part of our own family, ensuring personalized service and care that other companies simply can’t match." />
   
    <FaqCard question="Quality Oil and Workmanship" answer="We take pride in using high-quality heating oil and delivering it with precision and care. Our team is dedicated to maintaining the highest standards of workmanship, ensuring that your home heating system runs efficiently and reliably." />

    <FaqCard question="Customer Satisfaction" answer="Your satisfaction is our priority. From the moment you contact us to the delivery of your heating oil, our friendly and knowledgeable team is here to ensure a smooth, stress-free experience. We go above and beyond to meet your needs and exceed your expectations." />

    <FaqCard question="Safety and Professionalism" answer="Safety and professionalism are the cornerstones of our operations. Our certified and highly trained team ensures every heating oil delivery is handled with care and precision, safeguarding your home and family. Trust Patriot Discount Oil for dependable and expert service you can rely on." />

    <FaqCard question="Community Commitment" answer="After years of public service as a Middletown police officer, Gino transitioned to providing affordable heating oil as another way to serve the community. Giving back is at the heart of our mission. As a family rooted in Middletown, we actively participate in community events and initiatives to support the area we call home." />

    
  </div>
  </div>