---
import Layout from "../layouts/Layout.astro"
import CallToAction from "../components/Index/CallToAction.astro"
import TeamCard from "../components/Cards/TeamCard.astro"

---

<Layout title="About Patriot Discount Oil" description="Affordable heating oil delivery and expert furnace maintenance in Middletown and central Connecticut. Patriot Discount Oil offers top-quality service, emergency heating solutions, and unbeatable prices. Trusted since 2013." heading="The Best Heating Oil in Connecticut " >
<div class="flex flex-col mt-12">
<div class="flex flex-col-reverse md:flex-row ">
  <div class="md:w-1/2 m-auto p-4 max-w-[500px]">
    <h1 class="text-6xl md:text-start text-center font-black mb-2">We Are Summit</h1>
    <p>Founded in 2019 our CEO Andrew Delaus set out to change the roofing industry in Rochester. By creating a roofing system with the highest quality materials, we are trying to move the industry away from cut-and-paste roofs. You can trust us as the experts in roofing and exteriors with over +100 years of experience combined with our talented team.
    </p>
  </div>
  <img src="/teamphoto.png" alt="Summit Exteriors Rochester Roof Install" class="md:w-1/2 md:h-auto h-[300px]">
</div>



<div class="flex flex-col md:flex-row-reverse my-12 ">
  
  <div class="md:w-1/2 m-auto p-4 max-w-[500px]">
    <h1 class="text-5xl font-black m-auto text-center mb-6">Our Mission</h1>
    <p>At Summit, we truly believe that satisfying our customers comes before all else. We have been serving the Rochester Community since 2016. As we grow the Summit family and brand, we constantly incorporate new industry leading technology to better suit our customers! When choosing a company to trust with the task of building your roof, there is no place that will put your best interest first like we will. Call our office today and we will partner one of our exterior designers with you, to guide you through this process.
    </p>
  </div>
  <div class="md:w-1/2">
    <img src="/SummitExteriorsRochesterRoofInstall.png" alt="Summit Exteriors Rochester Roof Install" class=" w-[500px] mx-auto">
  </div>
</div>

 


</div>
</Layout>

