---
import Layout from "../layouts/Layout.astro";
import FaqCard from "../components/FAQ/FaqCard.astro";

/*

FAQ
- 
*/
---

<Layout title="About" description="Summit Exteriors is here to awnser all your questions about Roofing in Rochester" heading="The Best Roofing Work in Rochester New York" >
  <!-- FAQ -->
  <div style="" class="m-24 py-12">
    <h1 class="pb-12 text-6xl font-bold ">
      Frequently Asked Questions
    </h1>
    <div class="flex  flex-col md:flex-row-reverse gap-8">
      <div class="max-w-[30%]">
        <form action="" class="p-6 bg-white border rounded-md">
          <div class="flex mb-4">
            <div class="h-2 w-8 bg-[#C2262C] my-auto mx-2"></div>
            <h1>HAVE ANY QUESTIONS?</h1>
          </div>
          <p class="text-gray-700 px-4">
            Shoot us a message and we will be sure to get back as soon as possible!
          </p>

          <div class="flex gap-6 mt-8 flex-col">
            <input
              type="text"
              class="w-full px-4 py-2   bg-gray-100 placeholder-gray-500 placeholder-text-light rounded-md "
              placeholder="Name*"
            />
            <input
              type="email"
              class="w-full px-4 py-2  bg-gray-100 placeholder-gray-500   rounded-md "
              placeholder="Email*"
            />
            <input
              type="text"
              class="w-full px-4 py-2  bg-gray-100 placeholder-gray-500   rounded-md "
              placeholder="Phone*"
            />
            <input
              type="text"
              class="w-full px-4 py-2  bg-gray-100 placeholder-gray-500   rounded-md "
              placeholder="Address*"
            />
            <button type="submit" class="bg-red-500 h-12 w-full rounded-xl text-white">Submit Now</button>

          </div>
        </form>
      </div>
      <div class="space-y-4 w-2/3">
        <details class="group [&_summary::-webkit-details-marker]:hidden" open>
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
          >
            <h2 class="font-medium">How Much Does a New Roof Cost?</h2>

            <svg
              class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>

          <p class="mt-4 px-4 leading-relaxed text-gray-700">
            How Much Does a New Roof Cost? Depending on the roofing system you
            choose, material, size of the roof, complexity of the roof, and
            individual factors, the price can vary a lot, but we promise prices
            as low if not lower than all other competitors, local and national.
            Schedule a free estimate today to find out the price of your new
            roof!
          </p>
        </details>

        <details class="group [&_summary::-webkit-details-marker]:hidden">
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
          >
            <h2 class="font-medium">How Much Do New Gutters Cost?</h2>

            <svg
              class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>

          <p class="mt-4 px-4 leading-relaxed text-gray-700">
            Schedule a free estimate today to figure out your new gutter price,
            which we guarantee is as low as all competitors!
          </p>
        </details>

        <details class="group [&_summary::-webkit-details-marker]:hidden">
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
          >
            <h2 class="font-medium">How Much Does New Siding Cost?</h2>

            <svg
              class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>

          <p class="mt-4 px-4 leading-relaxed text-gray-700">
            Schedule a free estimate today to figure out your new siding price,
            which we guarantee is as low as all competitors!
          </p>
        </details>

        <details class="group [&_summary::-webkit-details-marker]:hidden">
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
          >
            <h2 class="font-medium">Why Should I Consider Solar?</h2>

            <svg
              class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>

          <p class="mt-4 px-4 leading-relaxed text-gray-700">
            Solar has many benefits for both the environment and your home! If
            you pair a solar job with our other services, you can get a huge
            rebate! You can even earn money off extra energy you produce.
          </p>
        </details>

        <details class="group [&_summary::-webkit-details-marker]:hidden">
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
          >
            <h2 class="font-medium">How Long Do Your Services Take?</h2>

            <svg
              class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>

          <p class="mt-4 px-4 leading-relaxed text-gray-700">
            We are in and out in days! We value our customer’s time which is why
            we prioritize efficiency.
          </p>
        </details>
        <details class="group [&_summary::-webkit-details-marker]:hidden">
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
          >
            <h2 class="font-medium">How Long Will My Roof Last?</h2>

            <svg
              class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>

          <p class="mt-4 px-4 leading-relaxed text-gray-700">
            Depending on the material and system you choose, your roof can last
            anywhere between 25 and 100 years! Contact us for exact details or
            look at our different systems.
          </p>
        </details>
        <details class="group [&_summary::-webkit-details-marker]:hidden">
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
          >
            <h2 class="font-medium">What Qualifies For Insurance Coverage?</h2>

            <svg
              class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>

          <p class="mt-4 px-4 leading-relaxed text-gray-700">
            Insurance companies define the damage they cover as damage from
            storm or weather-related events, including fire, wind, hail, and
            fallen trees. Signs you can get coverage include lifted shingles,
            creased shingles, missing shingles, and hail damage.
          </p>
        </details>
        <details class="group [&_summary::-webkit-details-marker]:hidden">
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
          >
            <h2 class="font-medium">How Much Will Insurance Cover?</h2>

            <svg
              class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>

          <p class="mt-4 px-4 leading-relaxed text-gray-700">
            Insurance can cover up to 100% of your roof! We have insurance
            specialists that can help you get the max amount off as insurance
            companies often don’t want to pay.
          </p>
        </details>
        <details class="group [&_summary::-webkit-details-marker]:hidden">
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
          >
            <h2 class="font-medium">What Financing Options Do You Have?</h2>

            <svg
              class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>

          <p class="mt-4 px-4 leading-relaxed text-gray-700">
            We have many loan options for all types of customers with all kinds
            of credit. We even have 12+ month, 0 down, 0% interest, 0 payments
            plans!
          </p>
        </details>
        <details class="group [&_summary::-webkit-details-marker]:hidden">
          <summary
            class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
          >
            <h2 class="font-medium">
              Does a Leaky Roof Need To Be Completely Replaced?
            </h2>

            <svg
              class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </summary>

          <p class="mt-4 px-4 leading-relaxed text-gray-700">
            Depending on the age, condition, and current leaks, you may or may
            not want to go ahead with a new roof. There is a good chance you
            don’t need a replacement for a leak, so contact us to meet a
            professional that can assess the damage.
          </p>
        </details>
      </div>
    </div>
  </div>
</Layout>
