---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/slider.svelte";
import FinancingComponet from "../components/Financing.astro";
/*


*/
---

<Layout title="Financing for Rochester Roofing" description="Summit Exteriors offers the most accessible and flexible financing options for roofing in Rochester, ensuring that every family can afford the quality roof they deserve. Our commitment to the community drives us to provide comprehensive financing solutions tailored to fit a variety of budgets. Trust us to make your new roof investment affordable, with plans designed to give you peace of mind and satisfaction." heading="The Best Financing for Roofing in Rochester" >

  <FinancingComponet />
  <div class="w-full flex">
    <div class="w-[95%] max-w-7xl mx-auto">
      <h1>Financing</h1>
      <p>Summit Exteriors offers financing options for your roofing project. We understand that a new roof is a big investment and we want to make it as easy as possible for you to get the roof you need. We offer financing options through GreenSky and can help you find the best option for your budget.</p>
    </div>
  </div>
</Layout>
 