---
import Layout from "../layouts/Layout.astro";
import SummitOffers from "../components/Index/SummitOffers.astro";
import Service from "../components/Index/Services.astro";
import RecentWorks from "../components/Index/RecentWorks.astro";
import Hero from "../components/Index/hero.astro";
import Financing from "../components/Financing.astro";
import CallToAction from "../components/Index/CallToAction.astro";
import Locations from "../components/Index/Locations.astro";
import Reviews from "../components/Index/Reviews.astro";
import FromOurBlog from "../components/Index/FromOurBlog.astro";
import ContactUs from "../components/Index/ContactUs.astro";
import OurStory from "../components/Index/OurStory.astro";
import WhySummit from "../components/Index/WhySummit.astro";
---


<Layout title="Summit Exteriors" description="Summit Exteriors is the best roofing company in Rochester NY. We strive to give our customers the highest quality exterior work available from Rochester's best roofing, gutters, siding, framing, solar and more we have you covered." heading="The Best Roofing Company in Rochester New York" >
   <main>
    <!-- <LandingDynamic client:load /> -->
    <Hero />

    <div class="flex justify-center my-24">
      <SummitOffers />
    </div>
    <Service />

    <Financing/>
     
    <Locations/>
    <FromOurBlog/>

    <OurStory/>
    <Reviews/>

    <WhySummit/>
    <RecentWorks />
    <CallToAction />



  </main>

</Layout>
