---
import Layout from "../layouts/Layout.astro";
import SummitOffers from "../components/Index/SummitOffers.astro";
import Service from "../components/Index/Service/Services.astro";
import Hero from "../components/Index/hero.astro";
import Financing from "../components/Financing.astro";
import CallToAction from "../components/Index/CallToAction.astro";
import Locations from "../components/Index/Location/Locations.astro";
import Reviews from "../components/Index/Review/Reviews.astro";
import FromOurBlog from "../components/Index/FromOurBlog.astro";
import ContactUs from "../components/Index/ContactUs.astro";
import OurStory from "../components/Index/OurStory.astro";
import WhySummit from "../components/Index//WhyPatriot/WhyUs.astro";
---


<Layout title="Patriot Discount Oil"description="Affordable heating oil delivery and expert furnace maintenance in Middletown and central Connecticut. Patriot Discount Oil offers top-quality service, emergency heating solutions, and unbeatable prices. Trusted since 2013." heading="The Best Heating Oil in Connecticut " >
   <main>
    <!-- <LandingDynamic client:load /> -->
    <Hero />
    <Locations/>

    <!-- <div class="flex justify-center my-24">
      <SummitOffers />
    </div> -->
    <Service />

    <!-- <Financing/> -->
     

    <!-- <OurStory/> -->
    <Reviews/>
   <!-- <FromOurBlog/> -->

    <WhySummit/>
     <CallToAction /> 



  </main>

</Layout>
