---
import Layout from "../layouts/Layout.astro";

import LocationsComponet from "../components/Index/LocationsNoButton.astro";
 
---



<Layout title="Summit Exteriors Locations" description="We have the best roofing in rochester and upstate ny." heading="We have the best roofing in rochester and upstate ny." >
  <div class="mt-24 flex">
    <div class="mx-auto w-[90%]">
      
      <LocationsComponet/>
    </div>
   

  </div>

</Layout>