---
import Layout from "../layouts/Layout.astro";

import LocationsComponent from "../components/Index/Location/LocationsNoButton.astro";
 
---



<Layout title="Summit Exteriors Locations" description="Affordable heating oil delivery and expert furnace maintenance in Middletown and central Connecticut. Patriot Discount Oil offers top-quality service, emergency heating solutions, and unbeatable prices. Trusted since 2013." heading="The Best Heating Oil in Connecticut ">
  <div class="mt-24 flex">
    <div class="mx-auto w-[90%]">
      
      <LocationsComponent/>
    </div>
   

  </div>

</Layout>