---
import Layout from "../layouts/Layout.astro";

/*

Roofing
- GAF Storm Guard 
- Owens Corning
- Dynasty 
- Sky lights 
- Metal Roofing


Solar
- Solar Panels
- Free Solar Evaluation 
- Solar Financing
- Solar Installation
- Federal Transferable Tax Solar Credits from Inflation Reduction act 
- Solar Energy Storage


Siding 
- TBA



Gutters 
- Gutter Installation
- Leaf Guard 

Job Additions
- Extieror Doors 
- Windows


Fences
- TBA




*/
import ServiceCard from "../components/Index/ServiceCard.astro";
import Service from "../components/Index/Services.astro";
const title = "Services";
---

<Layout title={title} description="Roofing Locations Summit Exteriors have Services" heading="We Service All of Rochester">
  <div >
   <Service/>
  </div>
</Layout>
