---
import Layout from "../layouts/Layout.astro";

/*

Roofing
- GAF Storm Guard 
- Owens Corning
- Dynasty 
- Sky lights 
- Metal Roofing


Solar
- Solar Panels
- Free Solar Evaluation 
- Solar Financing
- Solar Installation
- Federal Transferable Tax Solar Credits from Inflation Reduction act 
- Solar Energy Storage


Siding 
- TBA



Gutters 
- Gutter Installation
- Leaf Guard 

Job Additions
- Extieror Doors 
- Windows


Fences
- TBA




*/
import Service from "../components/Index/Service/Services.astro";
const title = "Services";
---

<Layout title={title} description="Affordable heating oil delivery and expert furnace maintenance in Middletown and central Connecticut. Patriot Discount Oil offers top-quality service, emergency heating solutions, and unbeatable prices. Trusted since 2013." heading="The Best Heating Oil in Connecticut ">
  <div >
   <Service/>
  </div>
</Layout>
