---
import Layout from "../layouts/Layout.astro";
import ReviewCard from "../components/Index/Review/ReviewCard.astro";
---

<Layout
  title="testimonials"
  description="Affordable heating oil delivery and expert furnace maintenance in Middletown and central Connecticut. Patriot Discount Oil offers top-quality service, emergency heating solutions, and unbeatable prices. Trusted since 2013."
  heading="The Best Heating Oil in Connecticut "
>
  <section class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
      <h2
        class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl mt-8"
      >
        Read trusted reviews from our customers
      </h2>

      <div
        class="mt-8 [column-fill:_balance] sm:columns-2 sm:gap-6 lg:columns-3 lg:gap-8"
      >
      <ReviewCard name="Lin B" review="Always available to serve you as needed. From my research, prices are lower than your bigger oil companies. Gino, the owner, is very nice too. Ron is always there when I stop in and is always friendly and smiling! Awesome Mom and Pop business! Shop local!!!!" />

      <ReviewCard name="Holly Phillips" review="Amazing service!! My family ran out of Oil in the middle of the night, and could not find any oil company that was willing to deliver to us since we were not customers yet. Patriot oil was amazing over the phone and came out the same day. we will be loyal customers from now on." />
      
      <ReviewCard name="Josh DeMaio" review="Been ordering from them since last winter and they easily have the best customer service out of the companies in my area. I had an emergency not too long ago and needed oil the same day on a very cold day where they were extremely busy. They still were able to deliver a full tank for me within a few hours. Definitely recommend them 100%." />
      
      <ReviewCard name="Matthew Pegolo" review="We order oil from Gino at Patriot Discount Oil all the time and are very pleased with his prompt service, cheap prices, and heating oil! Not only is it great to get the cheapest price for oil in the state, but it feels great supporting small family-owned local businesses. Thank you!" />
      
      <ReviewCard name="Kevin Licki" review="These guys are the best and will stand by their promise to beat any price in the area. They also care about senior citizens and veterans. It's nice to see a local company that still does that. We tried a few other discount oil companies in the area, but none compare to Patriot." />
      
      <ReviewCard name="Shawn Robinson" review="Been using Patriot since last winter. These guys are easy to work with and more than accommodating with last-minute requests!! Thanks guys... Look forward to years of more business with you." />
      
      <ReviewCard name="Carly Urban" review="Best oil company in Middletown! They have helped us out with last-minute deliveries a few times now and have always been extremely helpful, timely, and kind." />
      
      <ReviewCard name="Taina C" review="I just recently started using Patriot and they have been fantastic. Thank you guys for the fast service and excellent customer service you offer." />
      
      <ReviewCard name="K JR" review="Always great service. I have used Patriot for a few years and have no complaints. They are very accommodating and prompt!!" />
      
      <ReviewCard name="Lorraine Leone" review="The sweetest guy! I forgot his name. This company is a 10!" />
      
      <ReviewCard name="Rob Hoover" review="Heating oil was cheap and great service." />
      
      <ReviewCard name="Kevin Duhamel" review="Great to work with. You can place an order online, and they respond very quickly. No hassle, very straightforward. Definitely recommend for an easy, convenient experience." />
      
      <ReviewCard name="Nick" review="Nicest guys, cheapest fuel prices I've found. If you're burning nasty oil, these are the guys to get it from! Next-day delivery." />
      
      <ReviewCard name="TJ Whittaker" review="Been using Patriot for years. Class act crew. Great company." />
      
      <ReviewCard name="Kiah Patten" review="Good prices, get oil from them all the time." />
      
      <ReviewCard name="C S" review="Fast, efficient delivery, good price." />
      
      <ReviewCard name="Joni Ouellette" review="Was new to the area and they were helpful and responded quickly. Thanks." />
      
      <ReviewCard name="Jaclyn Martorelli" review="Absolutely love doing business with these guys!" /> 
      
      </div>
    </div>
  </section>
</Layout>
