<section class="py-20  md:mt-24 md:mb-24">
	<div class="container px-4 mx-auto">
		<div class="max-w-2xl mx-auto mb-16 text-center">
			<h2 class="text-4xl font-black lg:text-6xl">NO FUSS FINANCING
            </h2>
            <span class="font-semibold text-red-600 uppercase ">No matter your roof, we have you covered.</span>

		</div>
		<div class="flex flex-wrap items-stretch -mx-4">
			<div class="flex w-full mb-8 sm:px-4 md:w-1/2 lg:w-1/3 lg:mb-0">
				<div class="flex flex-grow flex-col p-6 space-y-6 rounded shadow sm:p-8 ">
					<div class="space-y-2">
                        <h4 class="text-2xl font-bold">120 Months</h4>
 						<span class="text-6xl font-bold">9.99% Interest
                        </span>
					</div>
 					<ul class="flex-1 mb-6 ">
						<li class="flex mb-2 space-x-2">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 ">
								<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
							</svg>
							<span>Reduced Interest for 120 Months
							</span>
						</li>
						<li class="flex mb-2 space-x-2">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 ">
								<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
							</svg>
							<span>Best for Low Monthly Payments
							</span>
						</li>
						<li class="flex mb-2 space-x-2">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 ">
								<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
							</svg>
							<span>Most Flexable</span>
						</li>
					</ul>
					<a rel="noopener noreferrer" href="/contact" class="inline-block w-full px-5 py-3 font-semibold tracki text-center rounded border-2 border-black hover:border-red-700 hover:bg-red-700  hover:text-white transition-all ">Get Started</a>
				</div>
			</div>
			<div class="flex w-full mb-8 sm:px-4 md:w-1/2 lg:w-1/3 lg:mb-0">
				
				<div class="flex flex-grow flex-col p-6 space-y-6 rounded shadow sm:p-8  ">
					<div class="bg-red-700 w-full h-8 flex">
						<h3 class="m-auto text-lg text-white font-medium">Most Popular</h3>
					</div>
					<div class="space-y-2">
						<h4 class="text-2xl font-bold">12 Months</h4>
						<span class="text-6xl font-bold">0.00% Interest
 						</span>
					</div>
 					<ul class="flex-1 space-y-2">
						<li class="flex items-center space-x-2">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6">
								<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
							</svg>
							<span>Interest-free for 12 months
                            </span>
						</li>
					
						<li class="flex items-center space-x-2">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6">
								<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
							</svg>
							<span>Most Popular</span>
						</li>
						<li class="flex items-center space-x-2">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6">
								<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
							</svg>
							<span>Best for No Interest
							</span>
						</li>
					</ul>
					<a rel="noopener noreferrer" href="/contact" class="inline-block w-full px-5 py-3 font-semibold tracki text-center rounded border-2 border-red-700 hover:border-red-700 bg-red-700 hover:bg-red-700  text-white transition-all ">Get Started</a>
				</div>
			</div>
			<div class="flex w-full mb-8 sm:px-4 md:w-1/2 lg:w-1/3 lg:mb-0">
				<div class="flex flex-grow flex-col p-6 space-y-6 rounded shadow sm:p-8 ">
					<div class="space-y-2">
                        <h4 class="text-2xl font-bold">144 Months</h4>
 						<span class="text-6xl font-bold">10.99% Interest
                        </span>
					</div>
 					<ul class="flex-1 mb-6 ">
						<li class="flex mb-2 space-x-2">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 ">
								<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
							</svg>
							<span>Lowest Payments</span>
						</li>
						<li class="flex mb-2 space-x-2">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 ">
								<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
							</svg>
							<span>Long Timespan</span>
						</li>
						<li class="flex mb-2 space-x-2">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 ">
								<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
							</svg>
							<span>Best for Tight Budgets</span>
						</li>
					</ul>
					<a rel="noopener noreferrer" href="/contact" class="inline-block w-full px-5 py-3 font-semibold tracki text-center rounded border-2 border-black hover:border-red-700 hover:bg-red-700  hover:text-white transition-all ">Get Started</a>
				</div>
			</div>
		</div>


		<h2>
			
		</h2>
	</div>
</section>