---

import { Image } from 'astro:assets';
import insurance from '../../images/insurance.png'

---


<!-- <div class=" flex lg:flex-row flex-col lg:h-[80vh] h-[1150px] bg-white mt-24">
  <div class="lg:w-1/2">
    <div class="sm:ml-auto w-3/4 flex flex-col gap-4 mx-auto">
      <h2 class="text-4xl font-bold sm:text-start  text-center">
        We work with your insurance company
      </h2>
      <p class="font-light ">We at Summit Exteriors have multiple Insurance Specialists that work directly with your insurance company to get your damaged roof covered as much coverage as possible. If you are missing and/or have folded shingles on your roof, get in contact with us to see just how much you can get off!
      </p>
      <Image src={insurance} alt="Summit Exteriors Roof Repair">

    </div>
      
  </div>

  <div class="lg:w-1/2">
    <div class="flex flex-wrap max-h-[28rem] max-w-72 m-auto gap-4 pt-24">
      <a href="https://www.usaa.com/">
        <img class="max-w-32" src="/icons/usaa.png" alt="usaa logo" /> </a>
      <a href="https://www.progressive.com/">
        <img class="max-w-32" src="/icons/progressive.png" alt="progressive logo" /></a>
      <a href="https://www.geico.com/">
        <img class="max-w-32" src="/icons/geico.png" alt="geico logo" /></a>
      <a href="https://www.libertymutual.com/">
        <img class="max-w-32" src="/icons/liberty.png" alt="liberty mutual logo" /></a>
      <a href="https://www.statefarm.com/">
        <img class="max-w-32" src="/icons/state.png" alt="statefarm logo" /></a>
      <a href="https://www.allstate.com/">
        <img class="max-w-32" src="/icons/allstate.png" alt="allstate logo" /></a>
     
    </div>
  </div>

  
</div> -->

<div class=" flex lg:flex-row flex-col lg:h-[80vh] h-[1150px] bg-white mt-24"></div>
<h2 class="text-4xl font-bold sm:text-start  text-center">
  We work with your insurance company
</h2>

<div class="flex flex-wrap mx-auto gap-4 w-[273px]" >
  <a href="https://www.usaa.com/">
    <img class="max-w-32" src="/icons/usaa.png" alt="usaa logo" /> </a>
  <a href="https://www.progressive.com/">
    <img class="max-w-32" src="/icons/progressive.png" alt="progressive logo" /></a>
  <a href="https://www.geico.com/">
    <img class="max-w-32" src="/icons/geico.png" alt="geico logo" /></a>
  <a href="https://www.libertymutual.com/">
    <img class="max-w-32" src="/icons/liberty.png" alt="liberty mutual logo" /></a>
  <a href="https://www.statefarm.com/">
    <img class="max-w-32" src="/icons/state.png" alt="statefarm logo" /></a>
  <a href="https://www.allstate.com/">
    <img class="max-w-32" src="/icons/allstate.png" alt="allstate logo" /></a>
 
</div>
</div>