---
import ReviewCard from "./ReviewCard.astro";
---

<div
  class="w-[100vw] overflow-x-scroll overflow-y-auto pl-10"
  style=" -ms-overflow-style: none;  /* Internet Explorer 10+ */
scrollbar-width: none;  /* Firefox */ .container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}"
>
  <div class="flex flex-row md:w-[130vw] w-[300vw] gap-8 h-[40vh] my-12">
    
    <ReviewCard
      name="Lin B"
      review="Always available to serve you as needed. From my research, prices are lower that your bigger oil companies. Gino,  the owner is very nice too. Ron is always there when l stop in and is always friendly and smiling! Awesome Mom and Pop business! Shop local!!!!"
    />

    <ReviewCard
      name="Josh DeMaio"
      review="Been ordering from them since last winter and they easily have the best customer service out of the companies in my area. I had an emergency not too long ago and needed oil same day on a very cold day where they were extremely busy. They still were able to deliver a full tank for me within a few hours. Definitely recommend them 100%."
    />

    <ReviewCard
      name="Matthew Pegolo"
      review="We order oil from Gino at Patriot Discount Oil all the time and are very pleased with his prompt service, cheap prices, and heating oil! Not only is it great to get the cheapest price for oil in the state, but it feels great supporting small family owned local businesses. Thank you!"
    />

    <ReviewCard
      name="Josh DeMaio"
      review="Been ordering from them since last winter and they easily have the best customer service out of the companies in my area. I had an emergency not too long ago and needed oil same day on a very cold day where they were extremely busy. They still were able to deliver a full tank for me within a few hours. Definitely recommend them 100%."
    />
   
  </div>
</div>
