---
import LocationCard from './LocationCard.astro';

---

<div class="flex flex-col w-full md:mb-48 mb-12">
 
  <div class="mx-auto flex flex-col max-w-7xl w-[90%]">
    <h2 class="font-[1000] mb-12 text-5xl text-center md:text-start">OUR LOCATIONS</h2>

    <div class="flex flex-row flex-wrap justify-evenly gap-4">
      <LocationCard
        title="Middletown"
        image_href="/locations/middletown.webp"
        href='/locations/middletown'
      />

      <LocationCard
        title="Portland"
        image_href="/locations/portland.jpg"
        href='/locations/portland'
      />

      <LocationCard
        title="Middlefield"
        image_href="/locations/Middlefield.webp"
        href='/locations/middlefield'
      />


      <LocationCard
        title="Cromwell"
        image_href="/locations/webster/webster.jpeg"
        href='/locations/cromwell'
      />


      <LocationCard
        title="East Hampton"
        image_href="/locations/penfield/penfield.webp"
        href='/locations/east-hampton'
      />


      <LocationCard
        title="Haddam"
        image_href="/locations/haddam.jpg"
        href='/locations/haddam'
      />

      <LocationCard
      title="Durham"
      image_href="/locations/durham.jpg"
      href='/locations/durham'
    />

    <LocationCard
    title="Meriden"
    image_href="/locations/meriden.jpg"
    href='/locations/meriden'
  />

  <LocationCard
  title="Rocky Hill"
  image_href="/locations/rocky-hill.jpg"
  href='/locations/rocky-hill'
/>

     

      
      





    </div>
  </div>

  <a href="/locations" class="flex mx-auto mt-8">
    <button class="mx-auto w-72 h-16 rounded-md bg-red-700 font-black text-white text-2xl">
       See All Our Locations
   
    </button>
   </a>
</div>
