---
import LocationCard from './LocationCard.astro';

---

<div class="flex flex-col w-full md:mb-48 mb-12">
 
  <div class="mx-auto flex flex-col max-w-7xl w-[90%]">
    <h2 class="font-[1000] mb-12 text-5xl text-center md:text-start">OUR LOCATIONS</h2>

    <div class="flex flex-row flex-wrap justify-evenly gap-4">
      <LocationCard
      title="Middletown"
      image_href="/locations/rochester/rochester.jpg"
      href='/locations/rochester'
    />

    <LocationCard
      title="Portland"
      image_href="/locations/syracuse/syracuse.jpg"
      href='/locations/syracuse'
    />

    <LocationCard
      title="Middlefield"
      image_href="/locations/brighton/brighton.webp"
      href='/locations/brighton'
    />


    <LocationCard
      title="Cromwell"
      image_href="/locations/webster/webster.jpeg"
      href='/locations/webster'
    />


    <LocationCard
      title="East Hampton"
      image_href="/locations/penfield/penfield.webp"
      href='/locations/penfield'
    />


    <LocationCard
      title="Haddam"
      image_href="/locations/buffalo/buffalo.jpg"
      href='/locations/buffalo'
    />

    <LocationCard
    title="Durham"
    image_href="/locations/greece/greece.webp"
    href='/locations/greece'
  />

  <LocationCard
  title="Meriden"
  image_href="/locations/buffalo/buffalo.jpg"
  href='/locations/fairport'
/>

<LocationCard
title="Rocky Hill"
image_href="/locations/henrietta/henrietta.jpg"
href='/locations/henrietta'
/>
     

      
      





    </div>
  </div>

  <a href="/contact" class="flex mx-auto mt-8">
    <button class="mx-auto w-80 h-16 rounded-md bg-red-700 font-black text-white text-2xl">
        Schedule A Consultation
   
    </button>
   </a>
</div>
