<div class="flex w-full my-12 ">
  <div class="flex flex-col max-w-7xl h-[80vh] w-[90%] mx-auto">
    <div
      class="rounded-lg h-[70vh] flex flex-col bg-cover	"
      style="background-image: linear-gradient(rgba(163, 47, 47, .6), rgba(163, 47, 47, .6)), url(/oil-truck.jpg);
    background-position: 0 0, 50%;"
    >
      <div class="m-auto flex flex-col md:gap-4">
        <h2
          class="text-white font-black text-3xl md:text-5xl h-24 w-2/3 md:w-[400px] mx-auto text-center"
        >
          YOU DESERVE QUALITY OIL
        </h2>
        <div
          class="m-auto flex justify-evenly rounded-full bg-white h-12 w-[220px]"
        >
          <div class="flex gap-2">
            <div class="flex gap-0.5 text-amber-400 h-[20px] my-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                ></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                ></path>
              </svg>
            </div>
            <h3 class="font-black text-xl text-black m-auto">Google</h3>
          </div>
           
        </div>
        <a
          href="/booking"
          class="mt-12 mx-auto rounded-lg bg-white text-red-700 h-12 w-64 font-black text-center flex"
          ><p class="m-auto">Get your free estimate!</p>
        </a>
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-6 mt-6">
         <a href="/referals" class="bg-red-100/50 md:w-1/2 h-32 rounded-lg flex p-4">
          <div class=""><h3 class="font-[1000] text-2xl md:text-4xl">Refer a Friend</h3>
            <h4 class="md:text-2xl text-xl text-red-700 font-black">They Can Save Too</h4>
          
          </div>
          <div class="rounded-full w-12 h-12 bg-red-700 flex hover:bg-red-700/75 ml-auto mr-2">
            <img src="/arrowup-right.svg" alt="" class="m-auto h-6 w-6" />
          </div>
        </a>
     

      <a href="/booking" class="bg-red-100/50 md:w-1/2 h-32 rounded-lg flex p-4">
        <div class=""><h3 class="font-[1000] text-2xl md:text-4xl">Book Now!</h3>
          <h4 class="md:text-2xl text-xl text-red-700 font-black">Talk to our Experts</h4>
        
        </div>
        <div class="rounded-full w-12 h-12 bg-red-700 flex hover:bg-red-700/75 ml-auto mr-2">
          <img src="/arrowup-right.svg" alt="" class="m-auto h-6 w-6" />
        </div>
      </a>

        </div>
  </div>
</div>
