---
import LocationCard from '../Cards/LocationCard.astro';

---

<div class="flex flex-col w-full md:mb-48 mb-12">
 
  <div class="mx-auto flex flex-col max-w-7xl w-[90%]">
    <h2 class="font-[1000] mb-12 text-5xl text-center md:text-start">OUR LOCATIONS</h2>

    <div class="flex flex-row flex-wrap justify-evenly gap-4">
      <LocationCard
        title="Rochester"
        image_href="/locations/rochester/rochester.jpg"
        href='/locations/rochester'
      />

      <LocationCard
        title="Syracuse"
        image_href="/locations/syracuse/syracuse.jpg"
        href='/locations/syracuse'
      />

      <LocationCard
        title="Brighton"
        image_href="/locations/brighton/brighton.webp"
        href='/locations/brighton'
      />


      <LocationCard
        title="Webster"
        image_href="/locations/webster/webster.jpeg"
        href='/locations/webster'
      />


      <LocationCard
        title="Penfield"
        image_href="/locations/penfield/penfield.webp"
        href='/locations/penfield'
      />


      <LocationCard
        title="Buffalo"
        image_href="/locations/buffalo/buffalo.jpg"
        href='/locations/buffalo'
      />

      <LocationCard
      title="Greece"
      image_href="/locations/greece/greece.webp"
      href='/locations/greece'
    />

    <LocationCard
    title="Fairport"
    image_href="/locations/buffalo/buffalo.jpg"
    href='/locations/fairport'
  />

  <LocationCard
  title="Henrietta"
  image_href="/locations/henrietta/henrietta.jpg"
  href='/locations/henrietta'
/>

     

      
      





    </div>
  </div>

  <a href="/locations" class="flex mx-auto mt-8">
    <button class="mx-auto w-72 h-16 rounded-md bg-red-700 font-black text-white text-2xl">
       See All Our Locations
   
    </button>
   </a>
</div>
