---
import { Image } from 'astro:assets';
import insurance from '../../images/insurance.png'

---


<div class="flex flex-col w-full">
  <div class="mx-auto flex flex-col md:flex-row max-w-7xl w-[90%]">


<div class="flex flex-col min-h-[50vh] z-[-1]">
  <div>
    <h2 class=" text-5xl font-[1000]">Explore Our Recent Works</h2>
  </div>
  <div class="flex sm:flex-row flex-col mx-auto gap-8 mt-12">
    <div >
      <a href="/">
        <img loading="lazy" class="max-h-[35vh] " src="/oakwood_roof.webp" alt="Summit Rochecter Oakwood Roofing Project">

      </a>
    </div>
    <div >
      <a href="/">
        <img loading="lazy" class="max-h-[35vh] " src="/roofing.webp" alt="Summit Rochecter Roof Striping Project ">

      </a>
    </div>
    <div >
      <a href="/">
        <img loading="lazy" class="max-h-[35vh] " src="/sandy_roof.webp" alt="">

      </a>
    </div>
    <div >
      <a href="/">
        <img loading="lazy" class="max-h-[35vh]" src="/roof_replacement.webp" alt="">

      </a>
    </div>
  </div>
</div>


 
</div>

</div>