
  <section class="bg-gray-900 text-white pt-12">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
      <div class="mx-auto max-w-lg text-center">
        <h2 class="text-3xl text-white font-bold sm:text-4xl">What We Can Offer You</h2>
  
        <p class="mt-4 text-gray-300">
          At Summit Extierors we have a wide range of services to offer. After hundreds of completed jobs we have the experince to meet you expections at any budget.
        </p>
      </div>
  
      <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <a
          class="bg-gray-800 block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-red-500/50 hover:shadow-red-500/10"
          href="/services/roofing"
        >
        <img width="50" height="50" src="https://img.icons8.com/ios/100/EF4444/roofing.png" alt="roofing"/>          <h2 class="mt-4 text-xl font-bold text-white">Roofing</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            We offer a wide range of roofing services from repairs to full replacements. Using premium Owens Corning and IKO Dynasty shingles we ware 
          </p>
        </a>
  
        <a
          class="bg-gray-800 block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-red-500/50 hover:shadow-red-500/10"
          href="/services/roofing"
        >
        <img width="50" height="50" src="https://img.icons8.com/ios/100/EF4444/solar-panel--v1.png" alt="solar-panel--v1"/>
  
          <h2 class="mt-4 text-xl font-bold text-white">Solar</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            We offer a full range of solar services from installation to repairs. We also offer backup batteries that can keep your home going even when your neighbors lights are out. 
          </p>
        </a>
  
        <a
          class="bg-gray-800 block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-red-500/50 hover:shadow-red-500/10"
          href="/services/roofing"
        >
        <img width="50" height="50" src="https://img.icons8.com/ios/100/EF4444/roof-tiles.png" alt="roof-tiles"/>
  
          <h2 class="mt-4 text-xl font-bold text-white">Siding</h2>
  
          <p class="mt-1 text-sm text-gray-300">
          Siding is an import aspect to the look and feel of your home. We offer a wide range of siding options and colors to fit your needs. Make your neighbors jealous with a new look for your home.
          </p>
        </a>
  
        <a
          class="bg-gray-800 block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-red-500/50 hover:shadow-red-500/10"
          href="/services/roofing"
        >
        <img class="rotate-180" width="50" height="50" src="https://img.icons8.com/ios/100/EF4444/steel-tent.png" alt="steel-tent"/>
  
          <h2 class="mt-4 text-xl font-bold text-white">Gutters</h2>
  
          <p class="mt-1 text-sm text-gray-300">
           
            Gutter help to protect your home from water damage. We offer a wide range of colors and styles to fit your needs incuding solutions to guaranteed by us to keep leafs out of your  . 
          </p>
        </a>
  
        <a
          class="bg-gray-800 block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-red-500/50 hover:shadow-red-500/10"
          href="/services/roofing"
        >
        <img width="50" height="50" src="https://img.icons8.com/ios/100/EF4444/construction-carpenter-ruler.png" alt="construction-carpenter-ruler"/>
  
          <h2 class="mt-4 text-xl font-bold text-white">Framing</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            We offer framing services for new construction and additions. We also offer framing repair services for damaged or rotted wood anywhere on your property. 
          </p>
        </a>
  
        <a
          class="bg-gray-800 block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-red-500/50 hover:shadow-red-500/10"
          href="/services/roofing"
        >
        <img width="50" height="50" src="https://img.icons8.com/ios/100/EF4444/maintenance--v1.png" alt="maintenance--v1"/>
  
          <h2 class="mt-4 text-xl font-bold text-white">And More!</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            Packed in with other jobs we offer services such as windows fencing and more!
          </p>
        </a>
      </div>
  
      <div class="mt-12 text-center">
        <a
          href="https://calendly.com/summitexteriorsny/roofing-estimate?hide_gdpr_banner=1&primary_color=ff0000&month=2024-01"
          class="inline-block rounded bg-red-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-red-700 focus:outline-none focus:ring focus:ring-yellow-400"
        >
        Schedule A Consolation Now         </a>
      </div>
    </div>
  </section>