<div class="flex lg:flex-row flex-col flex-grow: 0; flex-wrap mx-12 gap-8 w-[22rem] lg:w-[1500px] justify-center	">

    <div class="flex gap-6 lg:w-[20rem]">
        <div class="flex rounded-full border border-natural-400 h-24 min-w-[100px] hover:rotate-12 transition-transform duration-500">
             <img class="w-12 h-12 m-auto" src="/icons/gaf.png" alt="GAF Logo">
        </div>
            <div class="">
                <h3 class="font-bold ">GAF Certified</h3>
                <p class="font-light text-xs ">Our consistent commitment to quality service allowed us to be certified by the largest American shingle manufacturer!</p>
            </div>
    </div> 
  
   
    <div class="flex gap-6 lg:w-[20rem] ">
        <div class="flex rounded-full border border-natural-400 h-24 min-w-[100px] hover:rotate-12 transition-transform duration-500">
            <img class="w-12 h-12 m-auto" src="/icons/mosaic.jpg" alt="GAF Logo">
        </div>        
            <div class="">
                <h3 class="font-bold ">Financing Options</h3>
                <p class="font-light text-xs ">We offer multiple financing options suitable for all customers and their different needs!</p>
            </div>
    </div>
   
   
   
    <div class="flex gap-6 lg:w-[20rem] ">
        <div class="flex rounded-full border border-natural-400 h-24 min-w-[100px] hover:rotate-12 transition-transform duration-500">
            <img class="w-12 h-12 m-auto" src="/icons/owens_corning.png" alt="GAF Logo">
        </div>
            <div class="">
                <h3 class="font-bold ">Roofing Options</h3>
                <p class="font-light text-xs ">With GAF, Owens Corning, and IKO shingles, as well as metal roofing there are options for every customer!</p>
            </div>
    </div>
    <div class="flex gap-6 lg:w-[20rem] ">
        <div class="flex rounded-full border border-natural-400 h-24 min-w-[100px] hover:rotate-12 transition-transform duration-500">
            <img class="w-12 h-12 m-auto" src="/icons/google.webp" alt="GAF Logo">
        </div>
            <div class="">
                <h3 class="font-bold ">Amazing Reviews</h3>
                <p class="font-light text-xs">Find us on Facebook and Google and read our stunning reviews from all of our satisfied customers!</p>
            </div>
    </div>
</div>

