<div class="w-full mb-24 ">
<div class="space-y-4 w-[95%] mx-auto max-w-7xl">
    <h2 class=" font text-5xl font-black mb-12">Why Summit</h2>
    <details class="group [&_summary::-webkit-details-marker]:hidden">
      <summary
        class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
      >
        <h2 class="font-medium">Family Owned Buissnes</h2>

        <svg
          class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"></path>
        </svg>
      </summary>

      <p class="mt-4 px-4 leading-relaxed text-gray-700">
        Summit Exteriors, based in the heart of Rochester, is not just a roofing company; it's a testament to a family's lifelong dedication to their community. As a family-owned and operated business, the essence of Rochester runs deep in our veins. Our founders and team have not only lived in Rochester their entire lives but have also woven their personal and professional lives into the very fabric of this community. This city is more than just a place we work; it's the community we love, support, and strive to enhance with every roof we repair or replace. Our commitment to excellence is not just about providing top-notch roofing services; it's about upholding the trust and the bonds we've formed with our fellow Rochester residents over the years. At Summit Exteriors, you're not just hiring a contractor; you're partnering with neighbors who genuinely care about the safety, beauty, and integrity of your home as much as you do.

    </details>



    <details class="group [&_summary::-webkit-details-marker]:hidden">
      <summary
        class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
      >
        <h2 class="font-medium">Quality Materials and Workmanship</h2>

        <svg
          class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"></path>
        </svg>
      </summary>

      <p class="mt-4 px-4 leading-relaxed text-gray-700">
        At Summit Exteriors, we understand that the strength and durability of your roof are paramount. That's why we insist on using only the highest quality materials for every project we undertake. From the robust and visually appealing IKO Dynasty and Owens Corning shingles to the superior protection of Nordic ice and water shields, we ensure that your home is equipped to withstand the elements while maintaining its aesthetic charm. Our commitment to quality materials is matched by our dedication to exceptional workmanship. Our skilled team takes pride in their meticulous attention to detail and precision, guaranteeing that every installation is executed flawlessly.

We recognize that there's a significant difference between doing your roof cheaply and doing it right. Opting for lower quality materials and workmanship can lead to increased costs over time due to repairs, replacements, and inefficiencies. That's why at Summit Exteriors, we stand firmly behind our work with a solid 25-year workmanship and material warranty on almost all of our systems. This warranty is not just a promise; it's a testament to our confidence in the longevity and performance of our roofing solutions. When you choose Summit Exteriors, you're investing in peace of mind, knowing that your roof is built to last and protected by a company that values quality above all.
      </p>
    </details>

    <details class="group [&_summary::-webkit-details-marker]:hidden">
      <summary
        class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
      >
        <h2 class="font-medium">Community Involvement</h2>

        <svg
          class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"></path>
        </svg>
      </summary>

      <p class="mt-4 px-4 leading-relaxed text-gray-700">
        At Summit Exteriors, our connection to Rochester goes beyond business; it's about being an active and contributing member of the community we call home. Our dedication to Rochester's well-being is deeply ingrained in our company ethos. We believe that building roofs is just one aspect of building a community. That's why we're committed to playing a significant role in the growth and support of our local area through various forms of community involvement.

        We actively seek out opportunities to give back, whether it's participating in city beautification projects, or volunteering at community events. Our team takes pride in being part of initiatives that make Rochester a better place for everyone. For us, it’s not just about the physical structures we build but also about fostering a sense of togetherness and support within our community.
                
        This community-focused approach defines who we are as a company. It's rooted in the belief that our success is intrinsically linked to the health and happiness of the community we serve. As lifelong residents of Rochester, we don't just see ourselves as a business operating in the city; we are part of the fabric of Rochester, dedicated to its prosperity and resilience. By choosing Summit Exteriors, you're not just selecting a service provider; you're partnering with a company that genuinely cares about making a positive impact in our shared community.
        
        
        
        
        
        
        
      </p>
    </details>

    <details class="group [&_summary::-webkit-details-marker]:hidden">
      <summary
        class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
      >
        <h2 class="font-medium">Rochester's Sustainable Roofing</h2>

        <svg
          class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"></path>
        </svg>
      </summary>

      <p class="mt-4 px-4 leading-relaxed text-gray-700">
        Summit Exteriors is deeply committed to environmental responsibility, a principle that guides our approach to roofing in Rochester and the surrounding areas. In our quest to be the leading eco-friendly roofing contractor in Rochester, we prioritize sustainable practices and materials that not only benefit our clients but also contribute to the health of our planet. Our dedication to green roofing solutions is evident in every project we undertake, making us a preferred choice for environmentally conscious homeowners and businesses in Rochester.

        We integrate environmentally responsible materials and methods into our roofing services, from using recyclable shingles and materials to employing energy-efficient roofing systems that help reduce a building's carbon footprint. Our commitment to sustainability extends to the way we manage waste, ensuring that materials are recycled whenever possible to minimize environmental impact. By choosing Summit Exteriors, our clients in Rochester are not only securing their homes with high-quality, durable roofing but are also contributing to a greener, more sustainable community.
        
        Our approach to eco-friendly roofing in Rochester is not just about meeting the current needs of our clients; it's about looking ahead to the future. We're constantly exploring innovative technologies and practices that can further reduce environmental impact, such as solar-ready roofing options and green roofing systems that support plant life. This forward-thinking mindset ensures that when you choose Summit Exteriors for your roofing needs, you're partnering with a company that's committed to protecting the environment for generations to come.
        
        As a leader in Rochester's roofing industry, Summit Exteriors is proud to set a standard for environmental responsibility. We believe that by making sustainable choices, we can make a significant difference in the health of our planet and the well-being of our community in Rochester. Our commitment to eco-friendly roofing is more than just a business practice; it's a reflection of our values and our promise to contribute to a more sustainable world.
      </p>
    </details>

    <details class="group [&_summary::-webkit-details-marker]:hidden">
      <summary
        class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
      >
        <h2 class="font-medium">Customer Satisfaction</h2>

        <svg
          class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"></path>
        </svg>
      </summary>

      <p class="mt-4 px-4 leading-relaxed text-gray-700">
        At Summit Exteriors, we pride ourselves on a steadfast commitment to customer satisfaction and trust, which is at the core of everything we do. Our reputation as Rochester's premier roofing contractor is built on a foundation of trust and the positive experiences of our clients. With over 236 5-star reviews, our dedication to exceeding expectations and delivering exceptional roofing services is evident in the feedback from our satisfied customers.
         Our approach to ensuring 100% customer satisfaction is multi-faceted, involving clear communication, transparency, and a customer-first mindset. From the initial consultation to the final inspection, we ensure that every client is fully informed and comfortable with the process. Our team is dedicated to answering questions, providing expert advice, and making the roofing experience as seamless and stress-free as possible.
         The trust our clients place in us is something we don't take lightly. That's why we stand by our work with comprehensive warranties and guarantee the quality of our craftsmanship. Our commitment to excellence ensures that when you choose Summit Exteriors for your roofing needs in Rochester, you're not just getting a service provider—you're gaining a partner dedicated to protecting your home and enhancing its value.
         This unwavering commitment to customer satisfaction and trust is what sets Summit Exteriors apart in the competitive Rochester roofing industry. We understand that a roofing project is a significant investment, and our goal is to provide peace of mind along with our top-quality roofing solutions. Our 236 5-star reviews are a testament to our success in achieving and maintaining the highest standards of customer satisfaction, making Summit Exteriors the trusted choice for roofing in Rochester.
      </p>
    </details>
    <details class="group [&_summary::-webkit-details-marker]:hidden">
      <summary
        class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-100 p-4 text-gray-900"
      >
        <h2 class="font-medium">Safety and Certification</h2>

        <svg
          class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"></path>
        </svg>
      </summary>

      <p class="mt-4 px-4 leading-relaxed text-gray-700">
        At Summit Exteriors, our commitment to safety and professional certification underscores everything we do. As Owens Corning Certified Roofers, we are part of an elite group of roofing professionals known for their commitment to quality, reliability, and craftsmanship. This prestigious certification is a testament to our expertise and dedication to upholding the highest industry standards in every project we undertake in Rochester and beyond.

        With over 100 years of combined roofing experience among our staff, our team brings an unparalleled depth of knowledge and skill to each job. This extensive experience ensures that we are not only equipped to handle any roofing challenge but also committed to maintaining the utmost safety standards. Our expertise is your assurance that every aspect of your roofing project, from initial planning to final execution, is in the most capable hands.
        
        Safety is a top priority at Summit Exteriors. We adhere to strict safety protocols and continuously train our team on the latest safety practices and innovations in the roofing industry. This commitment to safety protects our team, our clients, and their property, ensuring that every project is completed without compromise.
        
        Moreover, our Owens Corning certification allows us to offer our Rochester clients the added benefit of some of the best warranties in the business, backed by one of the most trusted names in roofing. This partnership reflects our ability to provide high-quality materials and workmanship, giving our clients peace of mind knowing their roofing investment is secure.
        
        Choosing Summit Exteriors means partnering with a roofing company that not only values the quality and aesthetics of your roof but also prioritizes safety and holds the credentials to prove it. Our Owens Corning certification and century of combined experience make us the trusted choice for anyone seeking top-tier roofing services in Rochester, emphasizing our role as leaders in the industry.
        
        
        
        
        
        
        
      </p>
    </details>
   
   
    
    
  </div>
  </div>