---

import Layout from "./Layout.astro"
const { frontmatter } = Astro.props;
import '../styles/global.css';


---
<head>
<style>
    @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); /* Important Used to overised tailwind base styles */


    h1{
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 2.5rem;
        color: #86a6e5;
    }
</style>
</head>
 
<Layout title={frontmatter.title} heading={frontmatter.description} description={frontmatter.description}>
  <main class="max-w-[90vw] lg:max-w-[50vw] mx-auto pt-12 md:mt-24 mt-18">
    <img src={frontmatter.image.url} alt="rochester roofing hosue"/>
    <slot />

  </main>
</Layout>


